[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
altgraph = "*"
anyio = "*"
async-exit-stack = "*"
basic-utils = "*"
bottle = "*"
bottle-utils = "*"
bottle-utils-common = "*"
bottle-utils-i18n = "*"
bottle-utils-lazy = "*"
certifi = "*"
chardet = "*"
colorama = "*"
curio = "*"
funcsigs = "*"
gevent = "*"
greenlet = "*"
grpcio = "*"
grpcio-tools = "*"
gunicorn = "*"
h2 = "*"
hpack = "*"
hyperframe = "*"
idna = "*"
lxml = "*"
macholib = "*"
numpy = "*"
paho-mqtt = "*"
pandas = "*"
protobuf = "*"
purerpc = "*"
py = "*"
pyinstaller = "*"
pyodbc = "*"
pyproxy = "*"
python-dateutil = "*"
python-forge = "*"
pytz = "*"
requests = "*"
schedule = "*"
six = "*"
sniffio = "*"
style = "*"
tblib = "*"
tornado = "*"
untangle = "*"
urllib3 = "*"
virtualenv = "*"
xlrd = "*"
"zope.event" = "*"
"zope.interface" = "*"
async_generator = "*"
Babel = "*"
Beaker = "*"
Jinja2 = "*"
MarkupSafe = "*"
pylint = "*"
pygame = "*"
localization = "*"
scipy = "*"
shapely = "*"
mariadb = "*"
ipykernel = "*"

[requires]
python_version = "3.9"
