{% include 'header.tpl' %}

<style>
    .alarm-select {
        width: 640px;
        height: 400px;
        margin: 0 auto;
    }
    .select-input.form-control[readonly]:not([disabled]) {
}
</style>

<div class="container">
    <div id="DeviceSelector" class="form-floating form-control">
        <label class="h5" for="DeviceSelector">{{_('Choose Handset(s)')}}</label>
        <div id="transfer1" class="alarm-select"></div>
    </div>
    
    <div id="myform">
        <div class="form-floating form-control">
            <label class="h5" for="MessageTextarea1">{{_('Message Text')}}</label>
            <textarea class="form-control" id="MessageTextarea1" cols="70" rows="1" wrap="hard">replace me</textarea>
        </div>

        <div class="form-floating form-control">
            <label class="h5" for="SelectPrio">{{_('Choose Priority')}}</label>
            <select class="form-control form-select form-select-lg mb-3" id="SelectPrio">
                <option selected value="7">{{_('Low priority')}}</option>
                <option value="4">{{_('Medium priority')}}</option>
                <option value="1">{{_('High priority')}}</option>
            </select>

            <label class="h5" for="SelectConfType">{{_('Choose Confirmation')}}</label>
            <select class="form-control form-select" id="SelectConfType">
                <option selected value="2">{{_('User and DECT Confirmation')}}</option>
                <option value="1">{{_('DECT delivery confirmation')}}</option>
                <option value="0">{{_('No Confirmation')}}</option>
            </select>
        </div>

        <div class="form-floating form-control">
            <label class="h5" for="SelectMsgType">{{_('Choose Message Type and Reference Number handling')}}</label>
            <div class="form-floating">
                <select class="form-control form-select" id="SelectMsgType">
                    <option selected value="0">{{_('Fixed Reference: 100')}}</option>
                    <option value="100">{{_('Reference 50 random entries')}}</option>
                    <option value="10">{{_('Delete fixed Reference: 100')}}</option>
                    <option value="110">{{_('Delete Reference out of 50 random entries)')}}</option>
                </select>
            </div>
            <!-- <button id="submitbutton" type="submit" class="btn btn-primary mb-2">Send</button> --->
        </div>
    </div>
</div>

<script type="text/javascript" src="css/jquery.transfer.js?v=0.0.2"></script>
<script type="text/javascript">
    var dataArray1 = [                  
        {% for i in devices %}
        {
            "name": {{i['account']|tojson|safe}},
            "value": {{i['name']|tojson|safe}}
        }
        {% if not loop.last %}
        ,
        {% endif %}

        {% endfor %}
       
    ];

    var settings1 = {
        "dataArray": dataArray1,
        "itemName": "name",
        "valueName": "value",
        "callable": function (items) {
            // form fields
            var values = {};
            var fields = $('#myform :input');
            $.each(fields, function(i, field) {
                var dom = $(field),
                    name = dom.attr('id'),
                    value = dom.val();
                   items.push({
                   "name": name,
                    "value": value
                              })
            });

            // add array
            values.items = {};
            json_items = [];

            $.each(items, function(i, field) {
                values.items[field.name] = field.value;
                json_items.push( {
                                  "name": field.value,
                                  "account": field.name
                                });
            });

            console.dir(values.items)
            console.dir(json_items)

            var myJson = JSON.stringify(json_items);
            console.dir(myJson)

            var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance
            var theUrl = "/en_US/alarm";
            xmlhttp.open("POST", theUrl);
            xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xmlhttp.send(myJson);

            // post data
<!--            $.post('/en_US/alarm', items);-->

<!--            console.dir(items)-->
        }
    };
    $("#transfer1").transfer(settings1);
</script>

{% include 'footer.tpl' %}
