<!-- i represents a full device profile -->
{% if i['device_loggedin'] == "1" %}

{% if i['proximity'] == "1" %}
{% set prox_color = "text-white bg-success" %}
{% set prox_back = "rgba(0, 200, 100, 0.4);" %}
{% set prox_txt ="Inside" %}
{% set prox_badge ="badge-success" %}

<!-- rssi change report from M9B -->
{% elif i['proximity'] == "2" %}
{% set prox_color = "text-white bg-success" %}
{% set prox_back = "rgba(0, 250, 100, 0.4);" %}
{% set prox_txt ="RSSI" %}
{% set prox_badge ="badge-success" %}

{% elif i['proximity'] == "holding" %}
{% set prox_color = "text-white bg-success" %}
{% set prox_back = "rgba(0, 100, 100, 0.4);" %}
{% set prox_txt ="Inside" %}
{% set prox_badge ="badge-success" %}

<!-- scheduled report from M9B -->
{% elif i['proximity'] == "3" %}
{% set prox_color = "text-white bg-success" %}
{% set prox_back = "rgba(100, 150, 0, 0.4);" %}
{% set prox_txt ="Report" %}
{% set prox_badge ="badge-success" %}

{% elif i['proximity'] == "alarm" %}
{% set prox_color = "text-white bg-danger" %}
{% set prox_back = "rgba(250, 10, 10, 0.4);" %}
{% set prox_txt ="Alarm" %}
{% set prox_badge ="badge-danger" %}

{% else %}
{% set prox_color = "text-white bg-secondary" %}
{% set prox_back = "rgba(100, 100, 100, 0.4);" %}
{% set prox_txt ="Outside" %}
{% set prox_badge ="badge-danger" %} {% endif %}

{% if i['device_type'] == "SnomM9BTX" %}
{% set prox_back = "rgba(20, 20, 200, 0.4);" %}
{% elif i['device_type'] == "SnomM9BRX" %}
{% set prox_back = "rgba(50, 50, 230, 0.4);" %}
{% endif %}

<style>
.nobr {
   white-space: nowrap;
}
.supsub {
   display: inline-block;
   margin: -9em 0;
   vertical-align: -0.2em;
   line-height: 0.8em;
   font-size: 70%;
   text-align: left;
}
</style>

<div class="card {{prox_color}} ">
    
    <!--        <div class="card mb-4 shadow-sm">-->
    <div class="card-header px-2 py-2">
        <p class="h4 my-0 font-weight-normal">{{ i['name'] }}</p>
    </div>
    
    
    <div class="card-body px-0 py-0" style="background-image: url(/images/locpin.jpg);">
        
        
        <div class="card-transparent px-0 py-0">
            <div class="card-block special-card px-0 py-0" style="background-color: {{prox_back}}">
                
                
                <ul class="list-unstyled" style="margin-block-end:0px; margin-block-start: 0px">
                    <li>
                        <a href="{{ i['link'] }}"> <img class="rounded-circle px-2 py-2" width="90%" src="{{ i['user_image'] }}"></a>
                        <p class="h4 my-0 font-weight-normal">{{ i['account'] }}</p>
                    </li>
                    <li>{{ i['bt_mac'] }}</li>
                    <li><p class="h4 mb-0">
                        <a class="badge {{prox_badge}} mb-2">{{ prox_txt }} {{ i['beacon_gateway'] }}
                            <span class="nobr">:
                                <span class="supsub">{{ i['rssi'] }}<br/>{{ i['beacon_type'] }}</span>
                            </span>
                        </a>
                        </p>
                    </li>
                    <li><p class="h4 mb-0"><a class="badge badge-info mb-2"> {{ i['last_beacon'] }}</a></p></li>
                    <li><p class="h5 mb-0><a class="badge badge-info mb-2"> Base: {{ i['base_location'] }}</a> <h6>{{ i['base_connection'] }}</h6></p></li>
                    <li><p class="h6 mb-0><a class="badge badge-info mb-2"> Time: {{ i['time_stamp'] }}</a></li>
                    
                </ul>
                
            </div>
        </div></div>
    
</div>

{% endif %}

